{% extends './base.html.twig' %}

{% block title %}
	{{ 'password_reset_email_sent_title'|trans }} | {{ 'app_name'|trans }}
{% endblock %}

{% block body %}
	<div class="w-75 mx-auto security-height d-flex flex-column justify-content-center">
		<p>
			{{ 'check_email_description'|trans }}
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>{{ 'not_receive_email_description'|trans }}
			<a href="{{ path('app_forgot_password_request') }}">
				{{ 'try_again'|trans }}
			</a>.
		</p>
	</div>
{% endblock %}
