<h1>{{ emailHeader }}</h1>
<p>
	{{ emailDescription }}:
	<br>
	<a href="{{ signedUrl|raw }}">{{ emailLink }}</a>.
	<br>
	{{ expireLinkDescription }}
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
