<h1>{{ emailHeader }}</h1>
<p>{{ emailDescription }}:</p>
<a href="{{ url }}">
	{{ url }}
</a>
<p>{{ expireLinkDescription }}
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>
