{% extends 'security/base.html.twig' %}
{% form_theme registrationForm 'common/form_errors.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="text-center d-flex flex-column justify-content-center align-items-center">
        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {% if registrationForm.name is defined %} 
                <div class="form-floating">
                    {{ form_widget(registrationForm.name) }}
                    {{ form_label(registrationForm.name) }}
                </div>
            {% endif %}
            {% if registrationForm.specialty is defined %} 
                <div class="mt-3 form-floating">
                    {{ form_widget(registrationForm.specialty) }}
                </div>
            {% endif %}
            <div class="mt-3 form-floating">
                {{ form_widget(registrationForm.email) }}
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="list-group-item list-group-item-danger px-2 rounded">{{ form_errors(registrationForm.email) }}</div>
            <div class="mt-3 form-floating">
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_label(registrationForm.plainPassword) }}
            </div>
            <div class="list-group-item list-group-item-danger px-2 rounded">{{ form_errors(registrationForm.plainPassword) }}</div>
            {% if registrationForm.image is defined %}
                <div class="mt-3 d-flex flex-column align-items-start">
                    {{ form_label(registrationForm.image) }}
                    <div class="mt-1">{{ form_widget(registrationForm.image) }}</div>
                </div>
            {% endif %}
            <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
            <p class="mt-5 mb-3 text-muted">© 2019-2023</p>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
