{% extends 'security/base.html.twig' %}
{% form_theme registrationForm 'common/form_errors.html.twig' %}

{% block title %}
	{{ 'registration_label'|trans }}
	|
	{{ 'app_name'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center d-flex flex-column">
		<h1>{{ 'registration_label'|trans }}</h1>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="mt-3 w-75 alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<div class="mt-2">
			<form action="{{ path('app_patient_register') }}" method="POST">
				<input id="patient" class="form-check-input" type="radio" onchange="this.form.submit()" {{ app.request.get('_route') == 'app_patient_register' ? "checked" : "" }}>
				<label for="patient">{{ 'patient_user_label'|trans }}</label>
			</form>
			<form class="mt-1" action="{{ path('app_doctor_register') }}" method="POST">
				<input id="doctor" class="form-check-input" type="radio" onchange="this.form.submit()" {{ app.request.get('_route') == 'app_doctor_register' ? "checked" : "" }}>
				<label for="doctor">{{ 'doctor_user_label'|trans }}</label>
			</form>
		</div>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{% if registrationForm.name is defined %}
			<div class="form-floating">
				{{ form_widget(registrationForm.name) }}
				{{ form_label(registrationForm.name) }}
			</div>
		{% endif %}
		{% if registrationForm.specialty is defined %}
			<div class="mt-3 form-floating">
				{{ form_widget(registrationForm.specialty) }}
			</div>
		{% endif %}
		<div class="mt-3 form-floating">
			{{ form_widget(registrationForm.email) }}
			{{ form_label(registrationForm.email) }}
		</div>
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(registrationForm.email) }}
		</div>
		<div class="mt-3 form-floating">
			{{ form_widget(registrationForm.plainPassword) }}
			{{ form_label(registrationForm.plainPassword) }}
		</div>
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(registrationForm.plainPassword) }}
		</div>
		{% if registrationForm.avatar is defined %}
			<div class="mt-3 d-flex flex-column align-items-start">
				{{ form_label(registrationForm.avatar) }}
				<div class="mt-1">{{ form_widget(registrationForm.avatar) }}</div>
			</div>
			<div class="list-group-item list-group-item-danger px-2 rounded">
				{{ form_errors(registrationForm.avatar) }}
			</div>
		{% endif %}
		<button type="submit" class="w-100 btn btn-lg btn-primary mt-3">
			{{ 'registration_label'|trans }}
		</button>
		<div class="mt-4">
			{{ 'have_account_label'|trans }}
			<a class="link-underline link-underline-opacity-0" href="{{ path('app_sign_in') }}">
				{{ 'sign_in_label'|trans }}
			</a>
		</div>
		<p class="mt-4 mb-3 text-muted">© 2019-2023</p>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
