{% extends './base.html.twig' %}

{% block title %}
	{{ 'reset_password_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}

{% block body %}
	<div class="security-height text-center d-flex flex-column justify-content-center align-items-center">
		<h1>{{ 'reset_password_label'|trans }}</h1>
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="mt-3 w-75 alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(requestForm) }}
		<div class="form-floating">
			{{ form_widget(requestForm.email) }}
			{{ form_label(requestForm.email) }}
		</div>

		<button class="w-100 btn btn-lg btn-primary mt-3">
			{{ 'send_password_reset_email_label'|trans }}
		</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
