{% extends './base.html.twig' %}
{% form_theme resetForm 'common/form_errors.html.twig' %}

{% block title %}
	{{ 'reset_password_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}

{% block body %}
	<div class="security-height text-center d-flex flex-column justify-content-center align-items-center">
		<h1>{{ 'reset_password_label'|trans }}</h1>
		{{ form_start(resetForm) }}
		{{ form_widget(resetForm.plainPassword) }}
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(resetForm) }}
		</div>
		<button class="w-100 btn btn-lg btn-primary mt-3">
			{{ 'save_label'|trans }}
		</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
