{% extends 'patient/base.html.twig' %}
{% block title %}Appointment History | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Appointment History</h2>
	</div>
	<div class="col-xl-6 col-md-7 mt-5 mx-auto">
		<table class="table bg-white">
			<thead class="bg-light">
				<tr>
					<th>Specialty</th>
					<th>Doctor</th>
					<th>Date</th>
					<th>Time</th>
					<th>Price</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if scheduleSlots|length == 0 %}
					<tr>
						<td colspan="6" class="text-center">
							You have no past or future appointments
						</td>
					</tr>
				{% endif %}

				{% for scheduleSlot in scheduleSlots %}
					<tr>
						<td>
							{{ scheduleSlot.doctor.specialty.name }}
						</td>
						<td>
							{{ scheduleSlot.doctor.name }}
						</td>
						<td>
							{{ scheduleSlot.start|date("Y-m-d") }}
						</td>
						<td>
							{{ scheduleSlot.start|date("H:i") }}
							-
							{{ scheduleSlot.end|date("H:i") }}
						</td>
						<td>
							{{ scheduleSlot.price }}$
						</td>
						<td>
							{{ scheduleSlot.status.value }}
						</td>
						<td>
							{% if scheduleSlot.status.value == constant('App\\Enum\\Status::NotPaid').value %}
								<a href="{{ scheduleSlot.paymentLink }}" class="link-underline link-underline-opacity-0" target="_blank">
									Pay
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
