{% extends 'patient/base.html.twig' %}
{% block title %}Book An Appointment | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Book An Appointment</h2>
	</div>
	<div class="col-md-6 mt-5 mx-auto">
		{{ form_start(form) }}
			<div class="mt-3 form-floating">
				{{ form_widget(form.specialty) }}
			</div>
			<div class="mt-3 form-floating">
				{{ form_widget(form.doctor) }}
			</div>
		{{ form_end(form) }}
	</div>
	{% if schedule is not null %}
		<div class="d-flex align-items-center mt-5">
			<a class="btn btn-outline-primary ms-3" href="{{ path('patient_book_an_appointment') }}">
				Today
			</a>
			<a class="btn btn-outline-primary ms-4" href="{{ path('patient_book_an_appointment', {'date': previousDayOfTheWeek}) }}">
				&#60;
			</a>
			<a class="btn btn-outline-primary ms-2" href="{{ path('patient_book_an_appointment', {'date': nextDayOfTheWeek}) }}">
				&#62;
			</a>
			<span class="h3 ms-4">{{ monthYear }}</span>
		</div>
		<hr>
		<div class="container w-100 mw-100 mx-0 mb-4" style="mind-width:640px">
			<div class="row text-center pb-1">
				<div class="col px-0"></div>
				{% for day in week %}
					<div class="col d-flex flex-column align-items-center px-0">
						<div class="{{ day['isHighlighted'] ? "text-primary" : "text-body" }}">{{ day['dayOfTheWeek'] }}</div>
						<div class="calendar-date d-flex align-items-center justify-content-center {{ day['isHighlighted'] ? " text-light rounded-circle bg-primary" : " text-body" }}">{{ day['dayOfTheMonth'] }}</div>
					</div>
				{% endfor %}
			</div>
			{% for hour in hours %}
				<div class="row row-cols-8 h-50px">
					<div class="col px-0 text-end">
						<small>{{ hour }}</small>
					</div>
					{% for slots in schedule[hour] %}
						<div class="col px-0 border border-1 position-relative">
							{% for slot in slots %}
								<div class="bg-primary rounded-3 shadow slot position-absolute z-1" 
									style="height: calc(100% * ({{ slot['duration'] }} / 5 * (2.5/30)) - 2px);
										top: calc(100% * (({{ slot['startMinutes'] }} / 5 * (2.5/30)))">
									<small class="text-white">{{ slot['timeTitle'] }}</small>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
