{% extends 'patient/base.html.twig' %}
{% block title %}Confirm An Appointment | Doctor Appointment
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>Confirm An Appointment</h2>
		<div class="mt-5">
			<div class="col-xl-6 col-md-7 mx-auto">
				<table class="table bg-white">
					<thead class="bg-light">
						<tr>
							<th>Specialty</th>
							<th>Doctor</th>
							<th>Date</th>
							<th>Time</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ slot.doctor.specialty.name }}
							</td>
							<td>
								{{ slot.doctor.name }}
							</td>
							<td>
								{{ slot.start|date("Y-m-d") }}
							</td>
							<td>
								{{ slot.start|date("H:i") }}
								-
								{{ slot.end|date("H:i") }}
							</td>
							<td>
								{{ slot.price }}$
							</td>
						</tr>
					</tbody>
				</table>
				<div class="mt-5">
					This is a demo website. Use the following credit card data on the Stripe page to complete the purchase.
					<table class="table bg-white mt-2">
						<tbody>
							<tr>
								<td>
									Card number
								</td>
								<td>
									4242 4242 4242 4242
								</td>
							</tr>
							<tr>
								<td>
									Card Expiry
								</td>
								<td>
									Any future date
								</td>
							</tr>
							<tr>
								<td>
									CVC
								</td>
								<td>
									Any 3-digit number
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<form class="mt-3" method="POST">
					<button class="btn btn-primary btn-lg">Confirm and pay</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
