{% extends 'patient/base.html.twig' %}
{% block title %}
	{{ 'confirm_appointment_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}
{% block content %}
	<div class="text-center mt-4">
		<h2>{{ 'confirm_appointment_label'|trans }}</h2>
		<div class="mt-5">
			<div class="col-xl-6 col-md-7 mx-auto">
				<table class="table bg-white">
					<thead class="bg-light">
						<tr>
							<th>{{ 'specialty_label'|trans }}</th>
							<th>{{ 'doctor_label'|trans }}</th>
							<th>{{ 'date_label'|trans }}</th>
							<th>{{ 'time_label'|trans }}</th>
							<th>{{ 'price_label'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ slot.doctor.specialty.name }}
							</td>
							<td>
								{{ slot.doctor.name }}
							</td>
							<td>
								{{ slot.start|date("Y-m-d") }}
							</td>
							<td>
								{{ slot.start|date("H:i") }}
								-
								{{ slot.end|date("H:i") }}
							</td>
							<td>
								{{ slot.price }}$
							</td>
						</tr>
					</tbody>
				</table>
				<div class="mt-5">
					{{ 'This is a demo website. Use the following credit card data on the Stripe page to complete the purchase.'|trans }}
					<table class="table bg-white mt-2">
						<tbody>
							<tr>
								<td>
									{{ 'card_number_label'|trans }}
								</td>
								<td>
									4242 4242 4242 4242
								</td>
							</tr>
							<tr>
								<td>
									{{ 'card_expiry_label'|trans }}
								</td>
								<td>
									{{ 'card_date_label'|trans }}
								</td>
							</tr>
							<tr>
								<td>
									CVC
								</td>
								<td>
									{{ 'card_cvc_number_label'|trans }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<form class="mt-3" method="POST">
					<button class="btn btn-primary btn-lg">{{ 'confirm_label'|trans }}</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
