{% extends './base.html.twig' %}
{% form_theme form 'common/form_errors.html.twig' %}

{% block title %}
	{{ 'contact_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}

{% block body %}
	<div class="security-height text-center d-flex flex-column justify-content-center align-items-center">
		<h1>{{ 'contact_label'|trans }}</h1>
		{{ form_start(form) }}
		{% for flash_error in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				{{ flash_error }}
			</div>
		{% endfor %}
		<div class="form-floating">
			{{ form_widget(form.topic) }}
			{{ form_label(form.topic) }}
		</div>
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(form.topic) }}
		</div>
		<div class="mt-3 form-floating">
			{{ form_widget(form.email) }}
			{{ form_label(form.email) }}
		</div>
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(form.email) }}
		</div>
		<div class="mt-3 form-floating">
			{{ form_widget(form.message) }}
			{{ form_label(form.message) }}
		</div>
		<div class="list-group-item list-group-item-danger px-2 rounded">
			{{ form_errors(form.message) }}
		</div>
		<button type="submit" class="w-100 btn btn-lg btn-primary mt-3">
			{{ 'send_message_label'|trans }}
		</button>
		<p class="mt-4 mb-3 text-muted">© 2019-2023</p>
		{{ form_end(form) }}
	</div>
{% endblock %}
