{% extends 'base.html.twig' %}

{% block title %}
	{{ 'app_name'|trans }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>{{ 'make_appointment_label'|trans }}</h1>
		<div class="pt-5 d-flex flex-column align-items-center">
			<a class="btn btn-primary btn-lg" href="{{ path('app_patient_register') }}">
				{{ 'registration_label'|trans }}
			</a>
			<a class="mt-4 btn btn-primary btn-lg" href="{{ path('app_sign_in') }}">
				{{ 'sign_in_label'|trans }}
			</a>
		</div>
	</div>
	<div class="position-absolute bottom-0 w-100 bg-dark text-center">
		<a href="{{ path('contact') }}">
			<button class="btn btn-lg btn-outline-light my-5">
				{{ 'contact_label'|trans }}
			</button>
		</a>
	</div>
{% endblock %}
