{% extends 'base.html.twig' %}

{% block title %}
	{{ 'app_name'|trans }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>{{ 'make_appointment_label'|trans }}</h1>
		<div class="pt-5">
			<div class="d-flex justify-content-around">
				<form method='post' action="{{path('app_register', {'isPatient': 1})}}">
					<button class="btn btn-primary btn-lg" type="submit">{{ 'register_patient_label'|trans }}</button>
				</form>
				<form method='post' action="{{path('app_register', {'isPatient': 0})}}">
					<button class="btn btn-primary btn-lg" type="submit">{{ 'register_doctor_label'|trans }}</button>
				</form>
			</div>
			<form class="pt-4" action="{{path('app_sign_in')}}">
				<button class="btn btn-primary btn-lg" type="submit">{{ 'sign_in_label'|trans }}</button>
			</form>
		</div>
	</div>
	<div class="position-absolute bottom-0 w-100 bg-dark text-center">
		<a href="{{ path('contact') }}">
			<button class="btn btn-lg btn-outline-light my-5">
				{{ 'contact_label'|trans }}
			</button>
		</a>
	</div>
{% endblock %}
