{% extends 'doctor/base.html.twig' %}
{% form_theme form 'common/form_errors.html.twig' %}

{% block title %}
	{{ 'add_new_appointment_label'|trans }} | {{ 'app_name'|trans }}
{% endblock %}
{% block content %}
	<div class="col-md-6 m-auto">
		<div class="text-center mt-4">
			<h2>{{ 'add_new_appointment_label'|trans }}</h2>
		</div>
		{% for flash_error in app.flashes('success') %}
			<div class="mt-4 mx-2 alert alert-success" role="alert">{{ flash_error }}</div>
		{% endfor %}
		{% for flash_error in app.flashes('warning') %}
			<div class="mt-4 mx-2 alert alert-warning" role="alert">{{ flash_error }}</div>
		{% endfor %}
		{% for flash_error in app.flashes('error') %}
			<div class="mt-4 mx-2 alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(form) }}
		<div class="ms-3">
			{{form_label(form.date)}}
		</div>
		{{form_widget(form.date)}}
		<div class="mt-2">
			<div class="ms-3">
				{{form_label(form.time)}}
			</div>
			{{form_widget(form.time)}}
		</div>
		<div class="form-control mt-2">
			<div>
				{{form_label(form.duration)}}
			</div>
			{{form_widget(form.duration)}}
			<div class="list-group-item list-group-item-danger px-2 rounded">
				{{ form_errors(form.duration)}}
			</div>
		</div>
		<div class="form-control mt-2">
			{{form_label(form.price)}}
			{{form_widget(form.price)}}
			<div class="list-group-item list-group-item-danger px-2 rounded">
				{{form_errors(form.price)}}
			</div>
		</div>
		<button type="submit" class="w-100 btn btn-lg btn-primary my-4">
			{{ 'save_label'|trans }}
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
